/* Marker tweaks */
/*.mapboxgl-popup-close-button {
  display: none;
}*/

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 210px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.image_path {
  height: auto;
  width: 200px;
}

.meta1 {
  max-width: 200px;
}

.table td {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;
}

.table {
  table-layout: fixed;
}

#_trashimage {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: hidden;
    width: auto;
    min-width: 300px;   
}

.modal-content {
  display: inline-block;
}
.modal {
  height: 100vh;
  overflow-x: hidden;
}

#menu {
    background: #fff;
    position: absolute;
    top: 120px;
    right: 10px;
    width: 120px;
    padding: 0.7% 0.7% 0 0.7%;
    border-radius: 4px;
    font-family: Arial;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
}


#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/*Customize listing group  from mapbox*/

.listing-group {
  font-family: Arial, sans-serif;
  padding: 1%;
  border-radius: 4px;
}

/*Customize toggle from mapbox*/

.toggle{
  border-radius: 2px;
  padding: 0 19px;
}

/*Customize checked inputs from mapbox*/

input:checked+.toggle {
    background: #3887be;
    color: #fff;
}

/*Customize filter groups from mapbox*/

.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 1;
    border-radius: 3px;
}

.filter-group > div input[type=checkbox]:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group > div  label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group > div input[type=checkbox] {
    display: none;
}

.filter-group > div input[type=checkbox] + label {
    cursor: pointer;
}

.filter-group > div input[type=checkbox] + label {
    text-transform: capitalize;
}

.filter-group > div input[type=checkbox] + label:hover,
.filter-group > div input[type=checkbox]:checked + label {
    /*background-color: #4ea0da;*/
}

.filter-group > div input[type=checkbox]:checked + label:after {
    content: '✔';
    margin-left: 10px;
}


/*Style for Info Component*/

th {
  font-size: 45%;
  text-align: left;
}

.info{
  border-radius:4px;
  padding: 1%;
}

.info-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 150%;
}

.info-close-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.pic {
  height: 90%;
  width: 90%;
  object-fit: contain;
}

.sidebar_ {
  height: 100vh;
  width: 250px;
}

.chagua {
  display: flex;
  flex-direction: column;
}

.btn-success {
  margin-bottom: 3px;
    background-color: #3887be;
    border-radius: 0px;
    width: 100%;
    font-size: 12px;
    height: 30px;
}


/* CSS for the Overlay top corner */
.popup {
    border: 2px solid #3887be;
    
}
th {
  font-size: 10px;
  text-align: left;
}

td {
    width: 20px;
    padding-left: 5px;
}

table {
  border-collapse: collapse;
}

.pop {
  max-height: 500px;
  width: 500px;
}
.pop-table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}
.popic {
  padding: 1%;
  padding-bottom: 0%;
  width: 240px;
  height: 100%;
}

#tx {
    font-size: 10px;
    overflow: hidden; 
}

.spanpop {
  float: left;
}


.analysis{
}

.modal-content {
  margin: auto;
  display: block;
  width:80%;
  /* max-width: 700px; */
}

.img-modal {/* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  padding-bottom: 10px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-body {
  background-color: none;
}

.zoom-point{
  cursor: pointer;
  color:#3887be;
  float: left;
  font-size: 100%;
}

/* classes for hiding and showing list menus*/

.hide{
  display: none;
}

.show{
  display: block;
}

.more-list{
  color: #3887be;
  font-size: 70%;
  cursor: pointer;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 0.6s ease-in-out infinite alternate;
  -moz-animation: glow 0.6s ease-in-out infinite alternate;
  animation: glow 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #3887be, 0 0 5px #3887be, 0 0 5px #3887be, 0 0 5px #3887be, 0 0 6px #3887be, 0 0 7px #3887be, 0 0 8px #3887be;
  }
  
  to {
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 6px #ffffff, 0 0 7px #ffffff, 0 0 8px #ffffff;
  }
}

.mt48 {
    margin-top: 48px!important;
}
.mt70 {
    margin-top: 70px!important;
}
.mt92 {
    margin-top: 92px!important;
}
.mt192 {
    margin-top: 192px!important;
}

.mt204 {
    margin-top: 204px!important;
}
.mt216 {
    margin-top: 216px!important;
}
.mt228 {
    margin-top: 228px!important;
}
.mt240 {
    margin-top: 240px!important;
}
.mt252 {
    margin-top: 252px!important;
}
.mt264 {
    margin-top: 264px!important;
}

.mt276 {
    margin-top: 276px!important;
}

.mt288 {
    margin-top: 288px!important;
}


.icon-notify{
  display: inline-block;
  position: relative;
  top: 10px;
  cursor: pointer;

}

.icon-animate{
  -webkit-animation: notify 1s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation: notify 1s infinite;
  animation-direction: alternate;
  animation-delay: 8s;
}

.notification{
  padding: 0.3% 0% 0.4% 0.9%;
}

@-webkit-keyframes notify {
  0%   {left: 0px; top: 10px;}
  100%  {left: 1px; top: 10px;}
}

@keyframes notify {
  0%   {left: 0px; top: 10px;}
  100%  {left: 1px; top: 10px;}
}

