.sidebar_ {
	height: 100vh;
	width: 250px;
}

.chagua {
	display: flex;
	flex-direction: column;
}

.btn-success {
	margin-bottom: 3px;
    background-color: lightgreen;
    border-radius: 0px;
    width: 100%;
    font-size: 12px;
    height: 30px;
}

.txt-s {
    text-align: center;
}


/* CSS for the Overlay top corner */
.popup {
    border: 2px solid lightgreen;
    border-top: none;
    border-right: none;
    
}
th {
	font-size: 10px;
	text-align: left;
}

td {
    width: 20px;
    padding-left: 5px;
}

table {
	border-collapse: collapse;
}

.pop {
	max-height: 500px;
	width: 500px;
}
.pop-table {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}
.popic {
    padding: 1%;
    padding-bottom: 0%;
	width: 240px;
	height: 100%;
}

.picha {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#tx {
    font-size: 10px;
    overflow: hidden;	
}

.spanpop {
	float: left;
}
